<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    Crypto Currency Checker
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container stock-container">
            <div class="row">
                <div class="col crypto-choice-container">
                    <div class="currencyType">
                        <div id="eurCurrency" class="currencyCheck checked" data-currency="EUR">
                            EUR
                        </div>
                        <div id="usdCurrency" class="currencyCheck unchecked" data-currency="USD">
                            USD
                        </div>
                    </div>
                    <div class="crypto-choice">
                        <a href="/getCoin/BTC">
                            <div class="crypto">
                                <img src="https://cryptologos.cc/logos/bitcoin-btc-logo.png?v=040" alt="">
                                <p>Bitcoin (BTC)</p>
                            </div>
                        </a>
                    </div>
                    <div class="crypto-choice">
                        <a href="/getCoin/ETH">
                            <div class="crypto">
                                <img src="https://cryptologos.cc/logos/ethereum-eth-logo.png?v=040" alt="">
                                <p>Etherum (ETH)</p>
                            </div>
                        </a>
                    </div>
                    <div class="crypto-choice">
                        <a href="/getCoin/SOL">
                            <div class="crypto">
                                <img src="https://cryptologos.cc/logos/solana-sol-logo.png?v=040" alt="">
                                <p>Solana (SOL)</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col crypto-information">
                <% if (!locals.market) { %>
                    <p>Please choose any crypto coin to show trading information about it.</p>
                    <% } else { %>
                        <h2>Trading Information:</h2>
                        
                        <p>
                            The most recent executed trade price:
                            <span class="fw-bold">
                                <%= market.lastTradePrice %>
                                    <%= currency %>
                            </span>
                        </p>

                        <p>
                            Someone is willing to buy
                            <span class="fw-bold">
                                <%= market.bestBid.quantity %>
                            </span>
                            <%= coin %> at
                                <span class="fw-bold">
                                    <%= market.bestBid.price %>
                                </span>
                                <%= currency %>
                                    (highest bid)
                        </p>

                        <p>
                            Someone wants to sell
                            <span class="fw-bold">
                                <%= market.bestAsk.quantity %>
                            </span>
                            <%= coin %> at
                                <span class="fw-bold">
                                    <%= market.bestAsk.price %>
                                </span>
                                <%= currency %>
                                    (lowest ask)
                        </p>
                        <% } %>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright  ©<%= new Date().getFullYear() %>; Designed by Przemek Orzechowski</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/src/server.js"></script>
    <script src="/src/browser.js"></script>
</body>
</html>